/*==============================================
styles
==============================================*/
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.main-search{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.main-search input{
    font-family: Roboto;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #000;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}