/*==============================================
styles
==============================================*/
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.main-search{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.main-search input{
    font-family: Roboto;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #000;
    outline: none;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-weight: 300;
}

.car-item{
    display: flex;
    border: 1px solid lightgray;
    margin: 10px;
}

.car-item .left{
    width: 100px;
}

.car-item .left img{
    width: 100px;
}

.car-item .right{
    flex-grow: 1;
    padding: 10px;
}

.car-item .right h4,
.car-item .right h6{
    margin: 0;
}

/*==================================
Car Detail
==================================*/
.car-detail img{
    width: 100%;
}
.car-detail h2,
.car-detail h4{
    margin: 0;
}

.car-detail .content{
    padding: 10px;
}